*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: grid;
  height: 100vh;
}

.container{
  margin: auto;
  padding: 3em;
}

.result{
  justify-content: center;
}

.score{
  display: inline-block;
}